@charset "utf-8";
/* CSS Document */
@media (max-width: 1280px)
{
	
}
@media (max-width: 1210px)
{
	
	.popupindex_qb{
		width:calc(100vw - 200px);
	}
	#posfixed_qb{
		left:50%;
		margin-left:calc((100vw - 200px) / 2 * -1);
	}
	.detail_product_img_point img{
		width:65px;
	}
}
@media (max-width: 1120px)
{
	.displayd1120{
		display:none;
	}
	.displaym1120{
		display:block;
	}
}
@media (max-width: 1050px)
{
	ul.sf-menu .headermenubtn{
		padding:0px 10px;
	}
	.homepart4point{
		width:25%;
	}
	.homepart4{
		margin-top:-100px;
		height:auto;
	}
	.tablehomepart5 td.tdhomepart5{
		
	}
	.tablehomepart5 td.tdhomepart5_1{
		width:50%;
		padding-right:15px;
	}
	.tablehomepart5 td.tdhomepart5_2{
		padding-left:15px;
	}
	.detail_product_img_point img{
		width:55px;
	}
	.detail_product_img_point{
		margin:0px 2px;
	}
	.lightwidgetpadbot{
		padding-top:0px;
	}
}
@media (max-width: 1000px)
{
	.displayd1000{
		display:none;
	}
	.displaym1000{
		display:block;
	}
	.menudisplayd{
		display:none;
	}
	.menudisplaym{
		display:block;
	}
	.tablehomepart1a td.tdhomepart1a{
		display:inline-block;
		vertical-align:top;
		width:33.33%;
	}
	a.a_footersocmed img{
		margin-right:15px;
		max-width:50px;
		max-height:50px;
	}
	.wf1_pad{
		padding:25px;
	}
	.table_nd td.td_nd2{
		width:300px;
		padding-left:20px;
	}
	.tablehomenews td.tdhomenews1{
		width:90px;
		padding-right:15px;
	}
	.sidebar_icon{
		width:35px;
		padding-right:20px;
	}
	.tableproductpart1 td.tdproductpart1_1 {
		width: 230px;
	}
}
@media (max-width:950px)
{
	
	.popupindex2{
		width:calc(100% - 80px);
		margin-left:calc((50% - 40px) * -1);
	}
	
}
@media (max-width:900px)
{
	.tableheaderbottom .tdheaderbottom{
		display:block;
		width:100%;
	}
	.tableheaderbottom .tdheaderbottom1{
		padding-bottom:30px;
	}
	.tableheaderbottom .tdheaderbottom2{
		text-align:left;
	}
	.producttd3col{
		width:50%;
	}
}
@media (max-width:850px)
{
	.displayd850{
		display:none;
	}
	.displaym850{
		display:block;
	}
	.homepart4point img{
		max-width:80%;
	}
	.table_nd td.td_nd2{
		width:250px;
		padding-left:20px;
	}
	.tablehomenews td.tdhomenews1{
		width:70px;
		padding-right:15px;
	}
	.tableproductpart2 td.tdproductpart2{
		display:block;
		width:100%;
	}
	.tableproductpart2 td.tdproductpart2_1{
		padding-right:0px;
		padding-bottom:30px;
	}
	.tableproductpart2 td.tdproductpart2_2{
		padding-left:0px;
	}
}
@media (max-width:800px)
{
	.displayd800{
		display:none;
	}
	.displaym800{
		display:block;
	}
	.table800width100percent td{
		display:block;
		width:100%;
	}
	.table800width100percent td.displayd{
		display:none;
	}
	.containerpadding35{
		margin:0px auto;
		padding-left:20px;
		padding-right:20px;
	}
	.containerpadding30{
		margin:0px auto;
		padding-left:20px;
		padding-right:20px;
	}
	.marginfitleft35px{
		margin-left:-20px;
	}
	.marginfitleft30px{
		margin-left:-20px;
	}
	.searchinlineblocksearch{
		display:none;
	}
	.tablehomepart5 td.tdhomepart5{
		display:block;
		width:100%;
	}
	.tablehomepart5 td.tdhomepart5_1{
		
		padding-right:0px;
		padding-bottom:30px;
	}
	.tablehomepart5 td.tdhomepart5_2{
		padding-left:0px;
		text-align:left;
	}
	.table_wf1{
		
	}
	.table_wf1 td.td_wf1{
		width:100%;
		display:block;
	}
	.table_wf1 td.td_wf1_1{
		border-right:0px solid #dadada;
		border-bottom:1px solid #dadada;
	}
	.table_wf1 td.td_wf1_2{
		border-right:0px solid #dadada;
		border-bottom:1px solid #dadada;
	}
	.tablelpp3 td.tdlpp3{
		padding:0px 25px 25px 25px;
	}
	
	.lpp7mw{
		min-width:900px;
		
	}
	.lpp7overflow{
		overflow-x:auto;
	}
	.lppart7{
		padding-top:60px;
		padding-bottom:60px;
	}
}
@media (max-width:720px)
{
	.displayd{
		display:none;
	}
	.displaym{
		display:block;
	}
	.displaym_inlineblock{
		display:inline-block;
	}
	.table720width100percent td{
		display:block;
		width:100%;
	}
	.table720width100percent td.displayd{
		display:none;
	}
	.headnavdisplaym{
		display:block;
		/*padding:0px 20px;*/
	}
	.page_title0, .pagetitle0{
		font-size:25px;
	}
		.page_title0b, .pagetitle0b{
			font-size:25px;
			line-height:35px;
		}
	.page_title1, .pagetitle1{
		font-size:20px;
	}
	.page_title2, .pagetitle2{
		font-size:20px;
		line-height:30px;
	}
		.page_title2b, .pagetitle2b{
			font-size:20px;
			line-height:30px;
		}
		.page_title2l, .pagetitle2l{
			font-size:20px;
			line-height:30px;
		}
	.page_title3, .pagetitle3{
		font-size:18px;
		line-height:25px;
	}
		.page_title3b, .pagetitle3b{
			font-size:18px;
			line-height:25px;
		}
	.page_title4, .pagetitle4{
		font-size:17px;
		line-height:25px;
	}
		.page_title4b, .pagetitle4b{
			font-size:17px;
			line-height:25px;
		}
	.page_title5, .pagetitle5{
		font-size:15px;
		line-height:25px;
	}
		.page_title5b, .pagetitle5b{
			font-size:15px;
			line-height:25px;
		}
	.page_title6, .pagetitle6{
		font-size:14px;
		line-height:20px;
	}
		.page_title6b, .pagetitle6b{
			font-size:14px;
			line-height:20px;
		}
	.page_title7, .pagetitle7{
		font-size:16px;
		line-height:21px;
	}
		.page_title7b, .pagetitle7b{
			font-size:16px;
			line-height:21px;
		}
		.page_title7l, .pagetitle7l{
			font-size:16px;
			line-height:21px;
		}
	.page_title8, .pagetitle8{
		font-size:30px;
	}
	.page_title9, .pagetitle9{
		font-size:14px;
		line-height:28px;
	}
		.page_title9b, .pagetitle9b{
			font-size:14px;
			line-height:28px;
		}
	.page_title10, .pagetitle10{
		font-size:14px;
		line-height:30px;
	}
		.page_title10b, .pagetitle10b{
			font-size:14px;
			line-height:30px;
		}
	.page_description1, .pagedescription1{
		font-size:14px;
		line-height:22px;
	}
	.page_description2, .pagedescription2{
	}
	.page_description3, .pagedescription3{
	}
	.btn1{
		padding:0px 20px;
		height:40px;
	}
		.btn1t{
			font-size:16px;
		}
		.btn1download{
			padding-left:65px;
		}
	.btn2{
		padding:0px 20px;
		height:40px;
		font-size:14px;
	}
	
	.sliderPad{
		padding:0px 5px;
	}
	.fArrow-prev2{
		left: 5% !important;
	}
	.fArrow-next2{
		right: 5% !important;
	}
	.marginfit10px{
		margin-left:-5px;
		margin-right:-5px;
	}
	.producttdpad {
		padding: 0px 5px;
	}
	.producttd{
		margin-bottom:15px
	}
	.producttxtdiv {
		padding: 10px 15px;
	}
	.tablehomepart3 td.tdhomepart3{
		display:block;
		width:100%;
	}
	.tablehomepart3 td.tdhomepart3_1{
		padding-bottom:40px;
		padding-right:0px;
	}
	.tablehomepart3 td.tdhomepart3_2{
		padding-left:0px;
	}
	.tableaboutpart3 td.tdaboutpart3{
		display:block;
		width:100%;
	}
	.tableaboutpart3 td.tdaboutpart3_1{
		height:400px;
	}
	.tableaboutpart3 td.tdaboutpart3_2{
		padding:25px 0px;
		height:auto;
	}
	.tdaboutpart3_2pad{
		padding:35px;
	}
	.homepart3 {
		padding-top: 60px;
	}
	.header_search_box {
		padding-left: 10px;
		padding-right: 10px;
	}
	.emailsubscribebtn {
		width: 140px;
	}
	.search_input_subscribe{
		width:calc(100% - 155px);
	}
	.tablecontactpart2 td.tdcontactpart2{
		display:block;
		width:100%;
	}
	.tablecontactpart2 td.tdcontactpart2_1{
		padding-right:0px;
		padding-bottom:50px;
	}
	.tablecontactpart2 td.tdcontactpart2_2{
		padding-left:0px;
	}
	.newstd{
		width:50%;
		margin-bottom:15px;
	}
	.newstdpad{
		padding:0px 5px;
	}
	.newstxtdiv{
		padding: 15px 20px;
		min-height:95px;
	}
	.table_nd td.td_nd{
		display:block;
		width:100%;
	}
	.table_nd td.td_nd2{
		padding-top:50px;
		padding-left:0px;
	}
	.producttdpad {
		padding: 0px 5px;
	}
	.tableproductpart1 td.tdproductpart1{
		display:block;
		width:100%;
	}
	.tableproductpart1 td.tdproductpart1_1{
		padding-right:0px;
		padding-bottom:30px;
	}
	.productpart1 {
    	padding-top: 40px;
	}
	.headerimg {
		height: 245px;
	}
	.sidebar_point {
		margin-bottom: 20px;
	}
	.wa_float_icon{
		right:15px;
		bottom:15px;
	}
	.wa_float_icon img{
		max-width:50px;
		
	}
	.marginfit15px{
		margin-left:-10px;
		margin-right:-10px;
	}
	.lp2point{
		padding:0px 10px 20px 10px;
	}
	.lp2pointin{
		padding:15px;
	}
	.tablelp4 td.tdlp4{
		display:block;
		width:100%;
	}
	.tablelp4 td.tdlp4_1{
		padding-right:0px;
	}
	.tablelp4 td.tdlp4_2{
		padding-left:0px;
		padding-top:40px;
	}
	ul.lp4ul li, .lp4ul li{
		background-size:45px 45px;
		min-height:45px;
		padding-left:70px;
		padding-top:8px;
		padding-bottom:8px;
	}
	.lppart4{
		padding-top:65px;
		padding-bottom:100px;
		color:#fff;
	}
	.lppart5{
		padding-top:60px;
		padding-bottom:60px;
	}
	.lp5point{
		width:50%;
		padding: 0px 25px 50px 25px;
	}
	.lp5img{
		width:85px;
		height:85px;
	}
	.lp5point .padbot30{
		padding-bottom:15px;
	}
	.lp5point .padbot20{
		padding-bottom:10px;
	}
	.lppart6{
		padding-top:60px;
		padding-bottom:60px;
	}
	.tablelp6 td.tdlp6{
		
		display:block;
		width:100%;
	}
	.tablelp6 td.tdlp6_1{
		padding-right:0px;
		padding-bottom:0px;
	}
	.tablelp6 td.tdlp6_2{
	}
	.lp6oddeven{
		padding-bottom:20px;
	}
	.lp6even{
		padding-left:30px;
	}
	.lp6odd{
		padding-right:30px;
	}
	.lp6in{
		padding:15px 25px;
	}
	.lp6img{
		padding-right:23px;
	}
	.lp6intxt{
		display:inline-block;
		vertical-align:middle;
		width:calc(100% - 80px);
	}
	.lp8point{
		display:block;
		width:100%;
		padding:0px 10px;
	}
	ul.lp8ul li, .lp8ul li{
		background:url(images/yes.png) no-repeat left top;
		background-size:35px 35px;
		min-height:35px;
		padding-left:60px;
		padding-top:6px;
		padding-bottom:6px;
	}
	.tablelp9 td.tdlp9{
		display:block;
		width:100%;
	}
	.tablelp9 td.tdlp9_1{
		padding-top:20px;
		padding-right:0px;
		padding-bottom:30px;
	}
	.countdown-amount {
		padding-top:5px !important;
		font-size:18px !important;
		
	}
	.countdown-period {
		padding-top:10px !important;
		font-size:11px !important;
		line-height:normal;
	}
	.countdown-show4 .countdown-section {
		height:60px !important;
	}
	.lppart9border {
		padding: 35px 25px;
	}
	.btn6 {
		padding: 0px 10px;
		font-size: 13px;
	}
}
@media (max-width:640px)
{
	.displayd640{
		display:none;
	}
	.displaym640{
		display:block;
	}
	.tablehomepart1a td.tdhomepart1a{
		display:inline-block;
		vertical-align:top;
		width:50%;
	}
	.producttd{
		width:50%;
	}
	.homepart4point{
		width:50%;
	}
	.tdheaderm2_1{
		width:65px;
		text-align:left;
	}
	.tdheaderm2_2{
		text-align:left;
	}
	.tdheaderm2_3{
		text-align:right;
		width:150px;
	}
	.tablelpp3 td.tdlpp3{
		display:block;
		
		width:100%;
		padding:0px 0px 45px 0px;
	}
	.tablelpp3 td.tdlpp3 .padbot20{
		padding-bottom:5px;
	}
}
@media (max-width:600px)
{
	.table600width100percent td{
		float:left;
		display:block;
		width:100%;
	}
	.displayd600{
		display:none !important;
	}
	.tdheaderbottom1 a{
		display:block;
		padding-bottom:15px;
	}
	.tdheaderbottom2 a{
		display:block;
		padding-bottom:15px;
	}
	.lpp2mw{
		min-width:720px;
		
	}
	.lpp2overflow{
		overflow-x:auto;
	}
	
}

@media (max-width:540px)
{
	.table540width100percent td{
		float:left;
		display:block;
		width:100%;
	}
	.popupindex2{
		width:calc(100% - 40px);
		margin-left:calc((50% - 20px) * -1);
	}
	.menuheaderpoint {
		padding-top: 30px;
		padding-left: 25px;
	}
	.menu_point {
		padding-left: 25px;
		padding-right: 20px;
	}
	.menu_point_dis {
		padding-left: 25px;
		padding-right: 20px;
	}
	.menu_slide{
		width:280px;
	}
}
@media (max-width:480px)
{
	.displayd480{
		display:none !important;
	}
	.fArrow-prev2{
		left: 1% !important;
	}
	.fArrow-next2{
		right: 1% !important;
	}
	.tablehomepart1a td.tdhomepart1a{
		width:100%;
	}
	.lp5point{
		padding: 0px 15px 30px 15px;
	}
}
@media (max-width:360px)
{
	
}